<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Perfil Felipe </title>
</head>
<body>
    <h1> Cortez Barbosa Leonardo Felipe </h1>
    <p><strong>Edad:</strong> 20 </p>
    <p><strong>Descripción:</strong> soy lo que soy por qué soy y eso soy </p>

    <h2>Mis gustos y preferencias</h2>
    <ul>
        <li><strong>Comidas que me gustan:</strong> mi comida favorita es el mole rojo con tamales de frijol y arroz rojo, y los tacos de pastor  </li>
        <li><strong>Música que me gusta:</strong>  Jpop, boleros y música de Juan Gabriel </li>
        <li><strong>Pasatiempos:</strong> jugar videojuegos, dibujar, pintar y cantar </li>
        <li><strong>Lugares que me gustan:</strong> me gusta ir a lugares con vistas hermosas, ir a mi pueblito en Tepalcingo e ir a la feria que hacen </li>
    </ul>

    <h2> Mis disgustos y despreferencias </h2>
    <ul>
        <li><strong>Comidas que me gustan:</strong> no ve gustan las lentejas dulces  </li>
        <li><strong>Música que me gusta:</strong> toda musica con todos muy alto, o con tonadas que no me llamen la atención.</li>
        <li><strong>Pasatiempos:</strong> el limpiar el corral a las borregas</li>
        <li><strong>Lugares que me gustan:</strong> ir por mis primos a la escuela</li>

    </ul>

    <h2>Imagen para regresar al inicio</h2>
    <p>Haz clic en la imagen para volver a la página principal.</p>
    <a href="../index.html"><img src="../source/img/Felipe.jpeg" alt="Imagen de ejemplo del integrante 1" width="200" height="300"></a>
    <p><a href="../index.html">Regresar al inicio</a></p>
</body>
</html>
