<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Humberto</title>
</head>
<body>


    <h1>Cuevas Flores Humberto</h1>
    <p><strong>Edad:</strong> 20 </p>
    <p><strong>Descripción:</strong> 
        Soy estudiante me gusta mucho la tecnologia aprender de ella me gusta mucho el anime , dibujar , casi no salgo 
        me gusta mucho el cine la musica y los videojuegos de todo tipo pero mas de terror 
    </p>

    <h2>Mis gustos y preferencias</h2>
    <ul>
        <li><strong>Comidas que me gustan:</strong> pizza , hamburguesas , tacos , tortas de todo </li>
        <li><strong>Música que me gusta:</strong> De todo un poco pero mas openigs de anime </li>
        <li><strong>Pasatiempos:</strong> Principalmente ver peliculas, anime , series y dibujar </li>
        <li><strong>Lugares que me gustan:</strong> Mi casa  </li>
        <li><strong>Cosas que no me gustan:</strong> Las personas que no son amables </li>
    </ul>

    <h2>Mis disgustos y despreferencias</h2>
    <ul>
        <li><strong>Comidas que no me gustan:</strong> Comida que contengan muchas verduras </li>
        <li><strong>Música que no me gusta:</strong> reguetton  </li>
        <li><strong>Pasatiempos:</strong> no se no los descrubo aun  </li>
        <li><strong>Lugares que no me gustan:</strong> plazas donde haya mucha gente</li>
        <li><strong>Cosas que no me gustan:</strong> Las personas que no son amables </li>
    </ul>

    <h2>Imagen para regresar al inicio</h2>
    <p>Haz clic en la imagen para volver a la página principal.</p>
    <a href="../index.html"><img src="../source/img/Humberto.jpeg" alt=" imagen de humberto " width="200" height="300"></a>
    <p><a href="../index.html">Regresar al inicio</a></p>
</body>
</html>
