<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Salma </title>
</head>


<body>
    <h1>Delgado Cosme Bitia Salmai</h1>
    <p><strong>Edad:</strong> 24 </p>
    <p><strong>Descripción:</strong> 
    Soy una persona con muchos intereses, ideas y sueños. Me gusta aprender, crear
     y descubrir cosas nuevas. Disfruto imaginar posibilidades y pensar en todo lo 
     que puedo hacer con lo que sé. Mi familia, Dios y mis proyectos son parte importante 
     de mi vida. Tengo una personalidad que mezcla lo creativo con lo práctico, y aunque 
     todavía estoy descubriendo muchas cosas sobre mí, tengo claro que quiero construir 
     una vida que me guste y en la que me sienta orgullosa de quien soy.
    
    </p>

    <h2>Mis gustos y preferencias</h2>
    <ul>
        <li><strong>Comidas que me gustan:</strong> Me encantan los tacos al pastor, enchiladas suizas, el Pozole de mamá.  </li>
        <li><strong>Música que me gusta:</strong> electrónica, pop, hip-hop </li>
        <li><strong>Pasatiempos:</strong> Me gusta estar con mi familia, escuchar música, pasear, conocer lugares. </li>
        <li><strong>Lugares que me gustan:</strong> me encantan los lugares llenos de naturaleza y agua... y las cascadas.</li>
    </ul>


    <h2>Mis disgustos y despreferencias</h2>
    <ul>
        <li><strong>Comidas que no me gustan:</strong> No me gustan los mariscos. </li>
        <li><strong>Música que no me gusta:</strong> los corridos. </li>
        <li><strong>Pasatiempos:</strong> no me gusta ir a comprar al mercado.  </li>
        <li><strong>Lugares que no me gustan:</strong> El mercado, lugares con mucha gente.</li>
    </ul>

    <h2>Imagen para regresar al inicio</h2>
    <p>Haz clic en la imagen para volver a la página principal.</p>
    <a href="../index.html"><img src="../source/img/Salma.jpeg" alt="imgane que escogio salma " width="200" height="300"></a>
    <p><a href="../index.html">Regresar al inicio</a></p>
</body>
</html>
